# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:** 
* The popular languages in Data Scientists
* Common used Python libraries used by Data Scientists
* Examples of evaluating arithmetic expressions in Python

#### The popular languages that Data Scientists use are:
1. Python   
2. R        
3. SQL      
4. Julia
5. Java    
6. C++ 
7. Scala

#### Some of the commonly used Python libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Seaborn
4. Matplotlib
5. Keras

| Data Science Tools |
|--------------------|
| Anaconda Navigator |
| Hue |
| Apache Cassandra |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [9]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author:
Matteo Coccarese